VERSION=v1.0.0 # kratos version
CONFIG_PATH=./configs/kratos.local.yml
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS='[{"id":"discord","provider":"discord","client_id":"","client_secret":"","mapper_url":"file:///etc/oidc/oidc.discord.jsonnet","scope":["email","identify"]},{"id":"yandex","provider":"yandex","client_id":"","client_secret":"","mapper_url":"file:///etc/oidc/oidc.yandex.jsonnet"},{"id":"vk","provider":"vk","client_id":"","client_secret":"","mapper_url":"file:///etc/oidc/oidc.vk.jsonnet","scope":["email"]},{"id":"twitch","provider":"generic","client_id":"","client_secret":"","issuer_url":"https://id.twitch.tv/oauth2","mapper_url":"file:///etc/oidc/oidc.twitch.jsonnet","scope":["openid","user:read:email"],"requested_claims":{"id_token":{"email":{"essential":true},"email_verified":{"essential":true}}}}]'
